:root {
    --color-dark:           #111111;
    --color-background-01:  #7c8caf8c;
    --color-background-02:  #1d222e;
    --color-foreground-01:  #98a2c0;
    --color-foreground-02:  #6186bd;
    --color-light:          #ffffff;
    --font:                 Arial, Helvetica, sans-serif;
}

html, body {
    position:           fixed;
    top:                0px;
    left:               0px;
    width:              100%;
    height:             100%;
    padding:            0px;
    margin:             0px;
    background-color:   var(--color-background-01);
    color:              var(--color-dark);
    font-family:        var(--font);
}

button {
    border-radius:      2px !important;
    background-color:   var(--color-background-02);
    color:              var(--color-foreground-01);
    box-shadow:         none;
    border:             solid 1px var(--color-background-01);
    padding:            10px;
    font-size:          16px;
    letter-spacing:     1px;
    font-weight:        100;
    cursor:             pointer;
    opacity:            0.9
}

button:hover {
    opacity:        1;
    border-color:   var(--color-foreground-02);
}

#viewport {
    margin:             0px;
    height:             100%;
    top:                0px;
    left:               0px;
    width:              100%;
    height:             100%;
    padding:            0px;
}